.m-b-0-25 {
  margin-bottom: 0.25rem;
}
.m-l-0-25 {
  margin-left: 0.25rem;
}
.m-r-0-25 {
  margin-right: 0.25rem;
}
.m-t-0-25 {
  margin-top: 0.25rem;
}
.m-b-0-5 {
  margin-bottom: 0.5rem;
}
.m-l-0-5 {
  margin-left: 0.5rem;
}
.m-r-0-5 {
  margin-right: 0.5rem;
}
.m-t-0-5 {
  margin-top: 0.5rem;
}
.m-b-1 {
  margin-bottom: 1rem;
}
.m-l-1 {
  margin-left: 1rem;
}
.m-r-1 {
  margin-right: 1rem;
}
.m-t-1 {
  margin-top: 1rem;
}
.m-b-2 {
  margin-bottom: 2rem;
}
.m-l-2 {
  margin-left: 2rem;
}
.m-r-2 {
  margin-right: 2rem;
}
.m-t-2 {
  margin-top: 2rem;
}
.p-b-1 {
  padding-bottom: 1rem;
}
.p-l-1 {
  paddingleft: 1rem;
}
.p-r-1 {
  padding-rightm: 1rem;
}
.p-t-1 {
  padding-top: 1rem;
}
.p-b-2 {
  padding-bottom: 2rem;
}
.p-l-2 {
  paddingleft: 2rem;
}
.p-r-2 {
  padding-rightm: 2rem;
}
.p-t-2 {
  padding-top: 2rem;
}
.flex-c {
  display: flex;
}
.flex-d-c {
  flex-direction: column;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-a-c {
  align-items: center;
}
.flex-a-s {
  align-items: stretch;
}
.flex-w {
  flex-wrap: wrap;
}
.flex-g-1 {
  flex-grow: 1;
}
* {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}
body {
  color: #fff;
  font-size: 16px;
  font-fammily: sans-serif;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
h1,
h2,
h3 {
  margin: 4rem 0 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  line-height: 1.5;
  transition: font-size 0.2s ease;
}
h1 {
  font-size: 1.75rem;
  margin: 0;
  text-transform: uppercase;
  color: #ff4f22;
  line-height: 1.25;
  font-weight: 700;
}
h2 {
  font-size: 1.125rem;
}
h1 + h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}
h3 {
  font-size: 1.5rem;
}
.content h3:first-child {
  margin-top: 0;
}
h4 {
  margin: 1.5rem 0 0.25rem;
  font-size: 1em;
}
h5 {
  font-size: 1.25rem;
  display: inline;
}
p {
  margin: 0.5rem 0;
  padding: 0;
  text-align: justify;
}
a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.25);
  transition: all 0.15s ease;
}
a:hover {
  color: #ff4f22;
  box-shadow: inset 0 -1px 0 0 #ff4f22;
}
a:focus {
  color: #ff4f22;
  background: rgba(255, 79, 34, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 79, 34, 0.05);
  outline: none;
  border-radius: 2px;
}
abbr,
abbr[title] {
  border-bottom: 0;
  text-decoration: none !important;
}
input {
  font-size: inherit;
}
button:active {
  outline: none;
}
b,
strong {
  font-weight: 500;
}
::-webkit-selection {
  background-color: rgba(255, 79, 34, 0.5);
  color: #fff;
}
::-moz-selection {
  background-color: rgba(255, 79, 34, 0.5);
  color: #fff;
}
::selection {
  background-color: rgba(255, 79, 34, 0.5);
  color: #fff;
}
figure > img {
  max-width: 100%;
}
figcaption {
  font-size: 0.9em;
  line-height: 1.33em;
  text-align: justify;
}
section.text {
  position: relative;
  overflow: auto;
}
section.text figure {
  margin: 0.25em 2em;
  padding: 0;
}
section.text figure figcaption {
  margin-top: 1em;
}
.content-wrapper {
  position: relative;
  box-shadow: 0 -1px 2rem 0 rgba(0, 0, 0, 0.1), 0 -1px 6px 0 rgba(0, 0, 0, 0.1),
    inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
}
.centered {
  text-align: center;
}
svg.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content {
  margin: 0 1rem;
}
.abstract {
  column-count: 1;
  text-align: justify;
  line-height: 1.5em;
}
.abstract p:first-child {
  margin-top: 0;
}
.abstract p:last-child {
  margin-bottom: 0;
}
.hidden-anchor {
  position: absolute;
  display: block;
  box-sizing: content-box;
  top: 0;
  left: -2rem;
  bottom: 0;
  width: 0.5em;
  padding: 0 1.5rem 0 0.5rem;
  opacity: 0.33;
  transform: scale(0);
  transition: all 0.15s ease;
  box-shadow: none !important;
  cursor: pointer;
}
.hidden-anchor > .icon {
  height: 100%;
  width: 100%;
}
h3:hover .hidden-anchor,
h3:target .hidden-anchor {
  transform: scale(1);
}
.hidden-anchor:hover,
h3:target .hidden-anchor {
  opacity: 1;
}
h3:target:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 2rem;
  border-radius: 0.25rem 0.25rem 0 0.25rem;
}
h3:target.underlined:after,
h3:target:before {
  left: -2rem;
  background: #ff4f22;
}
h3:target .hidden-anchor {
  padding-right: 0.25rem;
  color: #fff;
  background: #ff4f22;
  border-radius: 0.25rem 0.25rem 0 0;
}
h3.anchored {
  transition: all 0.15s ease;
}
.note {
  color: #999;
  font-style: italic;
}
.no-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol.medium-spacing > li,
ul.medium-spacing > li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
ol.large-spacing > li,
ul.large-spacing > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ol.large-spacing > li:first-child,
ol.medium-spacing > li:first-child,
ul.large-spacing > li:first-child,
ul.medium-spacing > li:first-child {
  margin-top: 0;
}
ol.large-spacing > li:last-child,
ol.medium-spacing > li:last-child,
ul.large-spacing > li:last-child,
ul.medium-spacing > li:last-child {
  margin-bottom: 0;
}
.smaller {
  font-size: 0.9em;
}
.underlined {
  position: relative;
}
.underlined:after {
  position: absolute;
  display: block;
  content: "";
  bottom: -1px;
  left: -1rem;
  right: -1rem;
  height: 2px;
  background: #333;
  transition: left 0.15s ease;
}
h1.underlined:hover:after,
h2.underlined:hover:after,
h3.underlined:hover:after,
h4.underlined:hover:after,
h5.underlined:hover:after {
  left: -2rem;
}
h3.iconized,
h4.iconized,
h5.iconized {
  position: relative;
  display: block;
}
h3.iconized > *,
h4.iconized > *,
h5.iconized > * {
  display: block;
  float: left;
}
h3.iconized > .icon,
h4.iconized > .icon,
h5.iconized > .icon {
  height: 100%;
  width: 0.75em;
  margin-right: 0.25em;
}
h3.iconized > .icon.icon-small,
h4.iconized > .icon.icon-small,
h5.iconized > .icon.icon-small {
  width: 0.75em;
}
h3.iconized {
  height: 2rem;
}
h4.iconized {
  height: 1.5rem;
}
h5.iconized {
  height: 1.25rem;
}
ol.iconized li > :last-child,
ul.iconized li > :last-child {
  margin-right: 0.5em;
}
ol.iconized li .icon,
ul.iconized li .icon {
  height: 1.5em;
  width: 1em;
  margin-right: 0.25em;
}
.icon-inline {
  width: 0.8em;
  height: 0.8em;
  line-height: 1.5em;
  vertical-align: center;
}
.icon-inline,
.inline-list li {
  display: inline;
}
.inline-list.no-inline-sm li {
  display: block;
}
.remix-links {
  font-size: 0.9em;
}
.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.reference {
  margin-bottom: 1em;
}
.reference .title {
  font-weight: 500;
  margin-bottom: 0.25rem;
  text-align: left;
}
.reference .authors {
  margin-bottom: 0.125rem;
}
.reference .authors li:after {
  content: ", ";
}
.reference .authors li:nth-last-child(2):after {
  content: ", and ";
}
.reference .authors li:last-child:after {
  content: "";
}
.reference .authors strong {
  color: #fff;
}
.reference .highlight {
  padding: 0.25em 0.3em;
  font-size: 0.8em;
  color: #000;
  background: #999;
  border-radius: 0.125rem;
  box-shadow: none;
}
.reference .highlight.award {
  color: #000;
  background: #ff4f22;
}
.reference .secondary-information {
  font-size: 0.9em;
  color: #bbb;
}
.reference .number {
  margin-right: 0.5em;
}
.journal {
  font-style: italic;
}
.slides-containers {
  margin: 0 -0.25rem;
}
.slides-container {
  position: relative;
  width: 100%;
  border-radius: 0.25rem;
  background: #000;
  overflow: hidden;
}
.slides-container:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 70%;
}
.slides-container > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slides-container .slides-inner-container {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  bottom: 0.25rem;
  left: 0.25rem;
}
.slides-container .slides-inner-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0.25rem;
}
.slides-container figure img {
  height: 100%;
  width: auto;
}
span.only-above-sm {
  display: none;
}
#poster {
  background: #fff;
  text-align: center;
}
#footer {
  margin-top: 1rem;
  padding: 2rem 0 0;
  font-size: 0.85em;
  color: #666;
  border-top: 2px solid #1a1a1a;
}
#footer a {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.125);
}
#footer a:hover {
  box-shadow: inset 0 -2px 0 0 transparent;
}
#footer .vcg-name {
  font-family: Open Sans Condensed;
  text-align: right;
  line-height: 1.125em;
}
#footer .logo-hms,
#footer .logo-seas,
#footer .logo-vcg {
  height: 2em;
  background-size: cover;
}
#footer .logo-hms,
#footer .logo-seas {
  width: 5.75em;
  height: 5em;
}
#footer .logo-vcg {
  width: 5em;
  height: 4.25em;
}
#footer #more-at-lekschas-de {
  margin-top: 2rem;
  padding: 0.75rem 0;
  color: #999;
  background: #1a1a1a;
  box-shadow: none;
}
#footer #more-at-lekschas-de:active,
#footer #more-at-lekschas-de:focus,
#footer #more-at-lekschas-de:hover {
  color: #ff4f22;
  background: rgba(255, 79, 34, 0.15);
  box-shadow: none;
}
#tools li {
  margin-bottom: 0.5rem;
}
#tools li h4 {
  margin-top: 0;
  margin-bottom: 0;
}
#tools li h4 > span {
  font-weight: 400;
}
#tools li h4 > span:before {
  content: ":";
  padding-right: 0.25em;
}
#tools li .icon {
  font-size: 1.25em;
  margin-right: 0.5rem;
}
#tools li .remix-links {
  margin-left: 1.75rem;
  color: #bbb;
}
#video {
  background: #1a1a1a;
  overflow: hidden;
}
#video .play {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2.5rem;
  height: 2rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  transition: background 0.15s ease;
}
#video .play div {
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #ff4f22;
  border-style: solid;
  border-width: 0.5rem 0 0.5rem 0.75rem;
  transition: border-color 0.15s ease;
}
#video .time {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 2.5rem;
  padding: 0.25rem 0 0.2rem;
  font-size: 0.9rem;
  text-align: center;
  line-height: 0.9rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}
#video .thumbnail,
#video .thumbnail-color {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
#video .thumbnail-color:hover,
#video .thumbnail:hover {
  cursor: pointer;
}
#video .thumbnail {
  position: absolute;
  background-image: url(../images/video-thumbnail.jpg);
}
#video .thumbnail-color {
  background-image: url(../images/video-thumbnail-color.jpg);
  opacity: 0;
  transition: opacity 0.15s ease;
}
#video:hover .thumbnail-color {
  opacity: 1;
}
@media screen and (min-width: 30em) {
  h1 {
    font-size: 2rem;
  }
  h1 + h2 {
    font-size: 1.375rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h3.iconized {
    height: 2rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  h3.iconized > .icon,
  h4.iconized > .icon,
  h5.iconized > .icon {
    width: 1em;
  }
}
@media screen and (min-width: 35em) {
  .slides-container {
    width: 33.333%;
  }
}
@media screen and (min-width: 40em) {
  h1 {
    font-size: 3rem;
  }
  h1 + h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 2rem;
  }
  h3.iconized {
    height: 3rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  .content {
    margin-left: 8.3334%;
    margin-right: 8.3334%;
  }
  .abstract {
    column-count: 2;
    font-size: 1.125em;
  }
  .inline-list.no-inline-sm li,
  span.only-above-sm {
    display: inline;
  }
}
@media screen and (min-width: 60em) {
  h1 {
    font-size: 3.5rem;
  }
  h1 + h2 {
    font-size: 2rem;
  }
  .content {
    margin-left: 16.6667%;
    margin-right: 16.6667%;
  }
  .fullscreen {
    margin-left: -25%;
    margin-right: -25%;
  }
}
@media screen and (min-width: 80em) {
  .content {
    margin-left: 20%;
    margin-right: 20%;
  }
  .fullscreen {
    margin-left: -33.334%;
    margin-right: -33.334%;
  }
}
@media screen and (min-width: 100em) {
  .content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
