@import "styles/colors";
@import "styles/margin-padding";
@import "styles/flexbox";
@import "styles/ratio";
@import "styles/transitions";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $black;
}

body {
  color: $white;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-fammily: sans-serif;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3 {
  margin: 4rem 0 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  line-height: 1.5;
  transition: font-size $normal $ease;
}

h1 {
  font-size: 1.75rem;
  margin: 0;
  text-transform: uppercase;
  color: $primary;
  line-height: 1.25;
  font-weight: 700;
}

h2 {
  font-size: 1.125rem;
}

h1 + h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
}

.content h3:first-child {
  margin-top: 0;
}

h4 {
  margin: 1.5rem 0 0.25rem 0;
  font-size: 1em;
}

h5 {
  font-size: 1.25rem;
  display: inline;
}

p {
  margin: 0.5rem 0;
  padding: 0;
  text-align: justify;
}

a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.25);
  transition: all $fast $ease;
}

a:hover {
  color: $primary;
  box-shadow: inset 0 -1px 0 0 $primary;
}

a:focus {
  color: $primary;
  background: transparentize($primary, 0.9);
  box-shadow: inset 0 0 0 1px transparentize($primary, 0.95);
  outline: none;
  border-radius: 2px;
}

abbr,
abbr[title] {
  border-bottom: 0;
  text-decoration: none !important;
}

input {
  font-size: inherit;
}

button:active {
  outline: none;
}

b,
strong {
  font-weight: 500;
}

::-webkit-selection {
  background-color: transparentize($primary, 0.5);
  color: $white;
}

::-moz-selection {
  background-color: transparentize($primary, 0.5);
  color: $white;
}

::selection {
  background-color: transparentize($primary, 0.5);
  color: $white;
}

figure > img {
  max-width: 100%;
}

figcaption {
  font-size: 0.9em;
  line-height: 1.33em;
  text-align: justify;
}

section.text {
  position: relative;
  overflow: auto;

  figure {
    margin: 0.25em 2em;
    padding: 0;

    figcaption {
      margin-top: 1em;
    }
  }
}

/*
 * -----------------------------------------------------------------------------
 * General styles, i.e. classes
 * -----------------------------------------------------------------------------
 */

.content-wrapper {
  position: relative;
  box-shadow: 0 -1px 2rem 0 rgba(0, 0, 0, 0.1), 0 -1px 6px 0 rgba(0, 0, 0, 0.1),
    inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

.centered {
  text-align: center;
}

svg.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin: 0 1rem;
}

.abstract {
  column-count: 1;
  text-align: justify;
  line-height: 1.5em;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.hidden-anchor {
  position: absolute;
  display: block;
  box-sizing: content-box;
  top: 0;
  left: -2rem;
  bottom: 0;
  width: 0.5em;
  padding: 0 1.5rem 0 0.5rem;
  opacity: 0.33;
  transform: scale(0);
  transition: all $fast $ease;
  box-shadow: none !important;
  cursor: pointer;

  > .icon {
    height: 100%;
    width: 100%;
  }
}

h3:hover .hidden-anchor,
h3:target .hidden-anchor {
  transform: scale(1);
}

.hidden-anchor:hover,
h3:target .hidden-anchor {
  opacity: 1;
}

h3:target {
  &:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: -2rem;
    width: 2rem;
    background: $primary;
    border-radius: 0.25rem 0.25rem 0 0.25rem;
  }

  &.underlined:after {
    left: -2rem;
    background: $primary;
  }

  .hidden-anchor {
    padding-right: 0.25rem;
    color: $white;
    background: $primary;
    border-radius: 0.25rem 0.25rem 0 0;
  }
}

h3.anchored {
  transition: all $fast $ease;
}

.note {
  color: $gray-medium;
  font-style: italic;
}

.no-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.medium-spacing > li,
ol.medium-spacing > li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

ul.large-spacing > li,
ol.large-spacing > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul.medium-spacing > li,
ul.large-spacing > li,
ol.medium-spacing > li,
ol.large-spacing > li {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.smaller {
  font-size: 0.9em;
}

.underlined {
  position: relative;

  &:after {
    position: absolute;
    display: block;
    content: "";
    bottom: -1px;
    left: -1rem;
    right: -1rem;
    height: 2px;
    background: $gray-darker;
    transition: left $fast $ease;
  }
}

h1.underlined:hover,
h2.underlined:hover,
h3.underlined:hover,
h4.underlined:hover,
h5.underlined:hover {
  &:after {
    left: -2rem;
  }
}

h3.iconized,
h4.iconized,
h5.iconized {
  position: relative;
  display: block;

  > * {
    display: block;
    float: left;
  }

  > .icon {
    height: 100%;
    width: 0.75em;
    margin-right: 0.25em;

    &.icon-small {
      width: 0.75em;
    }
  }
}

h3.iconized {
  height: 2rem;
}

h4.iconized {
  height: 1.5rem;
}

h5.iconized {
  height: 1.25rem;
}

ol.iconized,
ul.iconized {
  li {
    > *:last-child {
      margin-right: 0.5em;
    }

    .icon {
      height: 1.5em;
      width: 1em;
      margin-right: 0.25em;
    }
  }
}

.icon-inline {
  display: inline;
  width: 0.8em;
  height: 0.8em;
  line-height: 1.5em;
  vertical-align: center;
}

.inline-list li {
  display: inline;
}

.inline-list.no-inline-sm li {
  display: block;
}

// Also known as `social-links`. But anything containing `social` will be
// removed by adblockers.
.remix-links {
  font-size: 0.9em;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.reference {
  margin-bottom: 1em;

  .title {
    font-weight: 500;
    margin-bottom: 0.25rem;
    text-align: left;
  }

  .authors {
    margin-bottom: 0.125rem;
  }

  .authors li:after {
    content: ", ";
  }

  .authors li:nth-last-child(2):after {
    content: ", and ";
  }

  .authors li:last-child:after {
    content: "";
  }

  .preprint {
    padding: 0.25em 0.3em;
    font-size: 0.8em;
    text-transform: uppercase;
    color: $gray-medium;
    background: $gray-darker;
    border-radius: 0.125rem;
  }

  .secondary-information {
    font-size: 0.9em;
  }

  .number {
    margin-right: 0.5em;
  }
}

.journal {
  font-style: italic;
}

.slides-containers {
  margin: 0 -0.25rem;
}

.slides-container {
  @include ratio(10, 7);

  width: 100%;
  border-radius: 0.25rem;
  background: $black;
  overflow: hidden;

  .slides-inner-container {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;

    > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0.25rem;
    }
  }

  figure img {
    height: 100%;
    width: auto;
  }
}

span.only-above-sm {
  display: none;
}

/*
 * -----------------------------------------------------------------------------
 * Specific styles, i.e. IDs
 * -----------------------------------------------------------------------------
 */

#poster {
  background: #fff;
  text-align: center;
}

#footer {
  margin-top: 1rem;
  padding: 2rem 0 0 0;
  font-size: 0.85em;
  color: $gray-dark;
  border-top: 2px solid $gray-darkest;

  a {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.125);
  }

  a:hover {
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0);
  }

  .vcg-name {
    font-family: "Open Sans Condensed";
    text-align: right;
    line-height: 1.125em;
  }

  .logo-hms,
  .logo-seas,
  .logo-vcg {
    height: 2em;
    background-size: cover;
  }

  .logo-hms {
    width: 5.75em; /* 4 (w) : 1 (h) */
    height: 5em;
  }

  .logo-seas {
    width: 5.75em; /* 3.3 (w) : 1 (h) */
    height: 5em;
  }

  .logo-vcg {
    width: 5em; /* 3.3 (w) : 1 (h) */
    height: 4.25em;
  }

  #more-at-lekschas-de {
    margin-top: 2rem;
    padding: 0.75rem 0;
    color: $gray-medium;
    background: $gray-darkest;
    box-shadow: none;

    &:hover,
    &:focus,
    &:active {
      color: $primary;
      background: transparentize($primary, 0.85);
      box-shadow: none;
    }
  }
}

#tools li {
  margin-bottom: 0.5rem;

  h4 {
    margin-top: 0;
    margin-bottom: 0;

    > span {
      font-weight: 400;

      &:before {
        content: ":";
      }
    }
  }

  .icon {
    font-size: 1.25em;
    margin-right: 0.5rem;
  }

  .remix-links {
    margin-left: 1.75rem;
  }
}

#video {
  background: $gray-darkest;
  overflow: hidden;

  .play {
    position: absolute;
    z-index: 3;
    top: 0.5rem;
    right: 0.5rem;
    width: 2.5rem;
    height: 2rem;
    background: transparentize($black, 0.5);
    border-radius: 0.25rem;
    transition: background $fast $ease;

    div {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.5rem 0 0.5rem 0.75rem;
      border-color: transparent transparent transparent $primary;
      transition: border-color $fast $ease;
    }
  }

  .time {
    position: absolute;
    z-index: 3;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 2.5rem;
    padding: 0.25rem 0 0.2rem 0;
    font-size: 0.9rem;
    text-align: center;
    line-height: 0.9rem;
    background: transparentize($black, 0.5);
    border-radius: 0.25rem;
  }

  .thumbnail,
  .thumbnail-color {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &:hover {
      cursor: pointer;
    }
  }

  .thumbnail {
    position: absolute;
    z-index: 1;
    background-image: url("../images/video-thumbnail.jpg");
  }

  .thumbnail-color {
    z-index: 2;
    background-image: url("../images/video-thumbnail-color.jpg");
    opacity: 0;
    transition: opacity $fast $ease;
  }

  &:hover .thumbnail-color {
    opacity: 1;
  }
}

/*
 * -----------------------------------------------------------------------------
 * Media Queries
 * -----------------------------------------------------------------------------
 */

/* 480px */
@media screen and (min-width: 30em) {
  h1 {
    font-size: 2rem;
  }

  h1 + h2 {
    font-size: 1.375rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h3.iconized {
    height: 2rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h3.iconized,
  h4.iconized,
  h5.iconized {
    > .icon {
      width: 1em;
    }
  }
}

/* 560px */
@media screen and (min-width: 35em) {
  .slides-container {
    width: 33.333%;
  }
}

/* 640px */
@media screen and (min-width: 40em) {
  h1 {
    font-size: 3rem;
  }

  h1 + h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 2rem;
  }

  h3.iconized {
    height: 3rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  .content {
    margin-left: 8.3334%; /* 1/12 */
    margin-right: 8.3334%;
  }

  .abstract {
    column-count: 2;
    font-size: 1.125em;
  }

  .inline-list.no-inline-sm li {
    display: inline;
  }

  span.only-above-sm {
    display: inline;
  }
}

/* 960px */
@media screen and (min-width: 60em) {
  h1 {
    font-size: 3.5rem;
  }

  h1 + h2 {
    font-size: 2rem;
  }

  .content {
    margin-left: 16.6667%; /* 1/6 */
    margin-right: 16.6667%;
  }

  .fullscreen {
    margin-left: -25%; /* 1/6 */
    margin-right: -25%;
  }
}

/* 1280px */
@media screen and (min-width: 80em) {
  .content {
    margin-left: 20%; /* 1/5 */
    margin-right: 20%;
  }

  .fullscreen {
    margin-left: -33.334%; /* 1/6 */
    margin-right: -33.334%;
  }
}

/* 1600px */
@media screen and (min-width: 100em) {
  .content {
    max-width: 960px;
    margin-left: auto; /* 1/5 */
    margin-right: auto;
  }
}
